:root {
  --primary: #225de8;
  --secondary: #1e1e1e;
  --bg: #f3f3f3;
  --btn-submit-text: #f3f3f3;
  --btn-submit-bg: #225de8;
  --btn-submit-bg-hover: #1849bd;
  --modal-bg: #f3f3f3;
}

.dark {
  --primary: #225de8;
  --secondary: #f3f3f3;
  --bg: #1e1e1e;
  --menu-bg: #343434;
  --menu-input-bg: #4b4b4b;
  --menu-input-placeholder: #9a9a9a;
  --menu-select-bg: #4b4b4b;
  --modal-bg: #343434;
}
