/*
    Quicksand
*/

@font-face {
    font-display: swap;
    font-family: Quicksand;
    font-stretch: normal;
    font-weight: 300 700;
    src: url("/fonts/quicksand/Quicksand-VariableFont_wght.woff2") format("woff2-variations");
    unicode-range: U+00-7F;
  }
  