@use "./colors";

body {
  color: colors.$text-dark;
  font-family: Quicksand, sans-serif;
  font-size: 16px;
  margin: 0;
}

button {
  cursor: pointer;
  transition: color 0.2s, background-color 0.2s;
}

.dark body {
  background-color: colors.$background-dark;
  color: colors.$text-light;
}
