// Light theme
:root {
  --bg: inherit;
  --text: #1e1e1e;

  // Item list
  --item-list-text: #f3f3f3;

  // Button submin
  --btn-submit-text: #f3f3f3;
  --btn-submit-bg: #225de8;
  --btn-submit-bg-hover: #1849bd;
}

// Dark theme
:root.dark {
  --text: #f3f3f3;
  --bg: #121212;

  // Menu
  --menu-bg: #343434;
  --menu-input-bg: #4b4b4b;
  --menu-input-placeholder: #9a9a9a;
  --menu-select-bg: #4b4b4b;
}
