@use "../tokens/colors";

body {
  font-family: Quicksand, sans-serif;
  color: var(--text);
  background-color: var(--bg);
}

button {
  transition: color 0.2s, background-color 0.2s;
}

%dark-border {
  border: 1px solid black;

  .dark & {
    border: none;
  }
}

input {
  @extend %dark-border;
}

select,
button {
  cursor: pointer;

  @extend %dark-border;
}
