@use "../tokens/colors";

body {
  font-family: Quicksand, sans-serif;
  color: var(--secondary);
  background-color: var(--bg);
}

button {
  transition: color 0.2s, background-color 0.2s;
}

input,
select,
button {
  color: var(--secondary);
  cursor: pointer;
  border: 1px solid black;

  .dark & {
    border: none;
  }
}
