@use "../tokens/colors";

body {
  background-color: var(--bg);
  color: var(--secondary);
  font-family: Quicksand, sans-serif;
}

button {
  transition: color 0.2s, background-color 0.2s;
}

input,
select,
button {
  border: 1px solid black;
  color: var(--secondary);
  cursor: pointer;

  .dark & {
    border: none;
  }
}
