body {
  font-family: Quicksand, sans-serif;
  color: var(--text);
  background-color: var(--bg);
}

button {
  transition: color 0.2s, background-color 0.2s;
}

input {
  border: 1px solid black;

}

select,
button {
  cursor: pointer;
  border: 1px solid black;


}

.dark input,
.dark select,
.dark button {
  border: none;
}